@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;700;800;900&display=swap");
:root {
  --orange: #f7803c;
  --black: #262f34;
  --head-white: rgb(255, 255, 255);
  --text-white: rgb(209, 209, 209);
}
.coding {
  background-color: #262f34;
  color: white;
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10% 0 0;
}
.coding-button {
  border: 2px solid var(--orange);
  border-radius: 15px;
  padding: 0.5rem;
  transition: 200ms;
  background-color: transparent;
  color: white;
  margin: 0 0.5rem;
}
.coding-button:hover {
  font-weight: 700;
  background-color: var(--orange);
  transition: 200ms;
}

.coding .coding-heading {
  text-align: center;
  font-size: 2rem;
}
.coding .coding-ques-con {
  height: 70vh;
}
.coding .coding-ques-con textarea {
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 10px;
  resize: none;
  padding: 0.5rem;
  font-family: monospace;
  font-size: 1.2rem;

  width: 100%;
  height: 100%;
}
.coding .coding-ques-con .coding-ques-textarea-ques {
  color: rgb(253, 59, 59);
}
.coding .coding-ques-con .coding-ques-textarea-ans {
  color: rgb(109, 233, 109);
}
.coding .coding-con {
  display: flex;

  width: 100%;
  margin: 1rem 0;
  justify-content: space-between;
}
.coding .coding-con .coding-child-ques {
  width: 50%;
  padding: 0.4rem;
}
.coding .coding-con textarea {
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 10px;
  resize: none;
  padding: 0.5rem;
  font-family: monospace;
  font-size: 1.2rem;
  color: white;
}

.coding .coding-con .coding-con-code textarea {
  height: 60%;
  width: 100%;
}
.coding .coding-con .coding-con-out textarea {
  width: 100%;
  height: 100%;
}

.coding .coding-con .coding-con-out {
  display: flex;
  height: 30%;
  justify-content: space-between;
}
.coding .coding-con .coding-con-code {
  width: 80%;

  justify-content: space-between;
}
.coding .coding-controls {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.coding .coding-controls .coding-select {
  margin: auto;
}
.coding .coding-controls .coding-select select {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}
